In [ ]:
!pip3 install yfinance
!pip3 install sqlalchemy

In [103]:
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine
import os

In [104]:
DB_USER = os.environ.get("DB_USER")
DB_PASSWORD = os.environ.get("DB_PASSWORD")
DB_HOST = os.environ.get("DB_HOST")
DB_PORT = os.environ.get("DB_PORT")
DB_NAME = os.environ.get("DB_NAME")

DATABASE_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"


engine = create_engine(DATABASE_URL)

In [7]:
dir(yf)

['AsyncWebSocket',
 'Calendars',
 'EquityQuery',
 'FundQuery',
 'Industry',
 'Lookup',
 'Market',
 'PREDEFINED_SCREENER_QUERIES',
 'Search',
 'Sector',
 'Ticker',
 'Tickers',
 'WebSocket',
 '_NOTSET',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'cache',
 'calendars',
 'config',
 'const',
 'data',
 'domain',
 'download',
 'enable_debug_mode',
 'exceptions',
 'live',
 'lookup',
 'multi',
 'pricing_pb2',
 'scrapers',
 'screen',
 'screener',
 'search',
 'set_config',
 'set_tz_cache_location',
 'shared',
 'ticker',
 'tickers',
 'utils',
 'version',
 'warnings']

In [69]:
spy = yf.Ticker("spy")
spy_history = spy.history(interval="1d")
spy_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-11-24 00:00:00-05:00,660.737583,668.085864,659.640848,666.759766,80437900,0.000,0.0,0.0
2025-11-25 00:00:00-05:00,666.660062,674.217746,662.522264,673.031250,81077100,0.000,0.0,0.0
2025-11-26 00:00:00-05:00,675.633603,679.691620,674.726250,677.677551,71879600,0.000,0.0,0.0
2025-11-28 00:00:00-05:00,678.854012,681.655730,678.495087,681.376587,49212000,0.000,0.0,0.0
2025-12-01 00:00:00-05:00,676.810088,680.977765,676.740287,678.265808,61201200,0.000,0.0,0.0
2025-12-02 00:00:00-05:00,679.910899,681.805326,677.328564,679.522095,62953800,0.000,0.0,0.0
2025-12-03 00:00:00-05:00,678.564896,682.892076,677.687484,681.875122,57238500,0.000,0.0,0.0
2025-12-04 00:00:00-05:00,683.280949,683.350750,679.332655,682.373657,61970300,0.000,0.0,0.0
2025-12-05 00:00:00-05:00,683.450416,686.361857,682.563085,683.669800,79241000,0.000,0.0,0.0
2025-12-08 00:00:00-05:00,684.567207,684.617047,679.561977,681.615906,55231500,0.000,0.0,0.0
2025-12-09 00:00:00-05:00,681.137310,683.370701,680.578962,681.027588,58310100,0.000,0.0,0.0
2025-12-10 00:00:00-05:00,680.549062,686.940150,679.302745,685.544312,85671300,0.000,0.0,0.0
2025-12-11 00:00:00-05:00,683.121431,687.219308,680.160150,687.139526,86173700,0.000,0.0,0.0
2025-12-12 00:00:00-05:00,686.142492,686.850422,677.169008,679.751404,113160300,0.000,0.0,0.0
2025-12-15 00:00:00-05:00,683.719676,683.739636,677.248806,678.724426,90811000,0.000,0.0,0.0
2025-12-16 00:00:00-05:00,677.228859,679.073445,672.991380,676.869934,122030600,0.000,0.0,0.0
2025-12-17 00:00:00-05:00,677.886913,678.435280,669.222513,669.421936,110625200,0.000,0.0,0.0
2025-12-18 00:00:00-05:00,675.603604,678.734368,672.911608,674.476929,108650100,0.000,0.0,0.0
2025-12-19 00:00:00-05:00,676.590027,681.090027,676.469971,680.590027,103599500,1.993,0.0,0.0
2025-12-22 00:00:00-05:00,683.940002,685.359985,680.590027,684.830017,69475300,0.000,0.0,0.0

In [ ]:

dfs = []
ticker_list = ["AAPL", "MSFT", "GOOGL"]

for ticker in ticker_list:
    data = yf.download(ticker, start="2020-01-01", end="2024-12-31", auto_adjust=False, multi_level_index=False)
    data.rename(columns={"Open": "open", "Low": "low", "High": "high", "Close": "close", "Adj Close": "adjusted_close", "Volume": "volume"}, inplace=True)
    data.insert(0, "ticker", ticker)
    data.insert(1, "date", data.index)
    dfs.append(data)
data = pd.concat(dfs)
data.reset_index(drop=True, inplace=True)
data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,ticker,date,adjusted_close,close,high,low,open,volume
0,AAPL,2020-01-02,72.468254,75.087502,75.150002,73.797501,74.059998,135480400
1,AAPL,2020-01-03,71.763725,74.357498,75.144997,74.125000,74.287498,146322800
2,AAPL,2020-01-06,72.335556,74.949997,74.989998,73.187500,73.447502,118387200
3,AAPL,2020-01-07,71.995354,74.597504,75.224998,74.370003,74.959999,108872000
4,AAPL,2020-01-08,73.153488,75.797501,76.110001,74.290001,74.290001,132079200
...,...,...,...,...,...,...,...,...
3766,GOOGL,2024-12-23,193.870728,194.630005,195.100006,190.149994,192.619995,25675000
3767,GOOGL,2024-12-24,195.344940,196.110001,196.110001,193.779999,194.839996,10403300
3768,GOOGL,2024-12-26,194.836929,195.600006,196.750000,194.380005,195.149994,12046600
3769,GOOGL,2024-12-27,192.008011,192.759995,195.320007,190.649994,194.949997,18891400
3770,GOOGL,2024-12-30,190.493958,191.240005,192.550003,189.119995,189.800003,14264700

In [130]:
ticker = "AAPL"
data = yf.download(ticker, start="2020-01-01", end="2024-12-31", auto_adjust=False, multi_level_index=False)
data.rename(columns={"Open": "open", "Low": "low", "High": "high", "Close": "close", "Adj Close": "adjusted_close", "Volume": "volume"}, inplace=True)
data.insert(0, "ticker", ticker)
data.insert(1, "date", data.index)
data.reset_index(drop=True, inplace=True)
data

[*********************100%***********************]  1 of 1 completed

,ticker,date,adjusted_close,close,high,low,open,volume
0,AAPL,2020-01-02,72.468254,75.087502,75.150002,73.797501,74.059998,135480400
1,AAPL,2020-01-03,71.763725,74.357498,75.144997,74.125000,74.287498,146322800
2,AAPL,2020-01-06,72.335556,74.949997,74.989998,73.187500,73.447502,118387200
3,AAPL,2020-01-07,71.995354,74.597504,75.224998,74.370003,74.959999,108872000
4,AAPL,2020-01-08,73.153488,75.797501,76.110001,74.290001,74.290001,132079200
...,...,...,...,...,...,...,...,...
1252,AAPL,2024-12-23,254.120667,255.270004,255.649994,253.449997,254.770004,40858800
1253,AAPL,2024-12-24,257.037476,258.200012,258.209991,255.289993,255.490005,23234700
1254,AAPL,2024-12-26,257.853790,259.019989,260.100006,257.630005,258.190002,27237100
1255,AAPL,2024-12-27,254.439224,255.589996,258.700012,253.059998,257.829987,42355300
1256,AAPL,2024-12-30,251.064499,252.199997,253.500000,250.750000,252.229996,35557500

In [116]:
ticker = 'SPY'
data = yf.download(ticker, start='2025-12-20', end='2025-12-24', auto_adjust=False, multi_level_index=False)
data.rename(columns={"Open": "open", "Low": "low", "High": "high", "Close": "close", "Adj Close": "adjusted_close", "Volume": "volume"}, inplace=True)
data.insert(0, "ticker", ticker)
data.insert(1, "date", data.index)
data.reset_index(drop=True, inplace=True)
data
#data.to_sql('stocks', engine, if_exists='append', index=False)
df = pd.read_sql('stocks', engine)
df

[*********************100%***********************]  1 of 1 completed

,id,ticker,date,open,low,high,close,adjusted_close,volume,created_at
0,4,SPY,2025-12-22,683.940002,680.590027,685.359985,684.830017,684.830017,69556700,2025-12-23 17:39:44.478767
1,5,SPY,2025-12-23,683.919983,683.880005,688.200012,687.960022,687.960022,56198190,2025-12-23 17:39:44.478767

In [143]:
ticker = 'SPY'
data = yf.download(ticker, start='2025-12-20', end='2025-12-24', auto_adjust=False, multi_level_index=False)
data = data.rename(columns={"Open": "open", "Low": "low", "High": "high", "Close": "close", "Adj Close": "adjusted_close", "Volume": "volume"})
data.insert(0, "ticker", ticker)
data.insert(1, "date", data.index)
data.reset_index(drop=True, inplace=True)
data

[*********************100%***********************]  1 of 1 completed

,ticker,date,adjusted_close,close,high,low,open,volume
0,SPY,2025-12-22,684.830017,684.830017,685.359985,680.590027,683.940002,69556700
1,SPY,2025-12-23,687.960022,687.960022,688.200012,683.869995,683.919983,64769000

In [147]:
ticker = 'AAPL'
data = yf.download(ticker, start='2020-01-01', end='2024-12-31', auto_adjust=False, multi_level_index=False)
data = data.reset_index()
data = data.rename(columns={"Open": "open", "Low": "low", "High": "high", "Close": "close", "Adj Close": "adjusted_close", "Volume": "volume", "Date": "date"})
data.insert(0, "ticker", ticker)
data

[*********************100%***********************]  1 of 1 completed

,ticker,date,adjusted_close,close,high,low,open,volume
0,AAPL,2020-01-02,72.468254,75.087502,75.150002,73.797501,74.059998,135480400
1,AAPL,2020-01-03,71.763725,74.357498,75.144997,74.125000,74.287498,146322800
2,AAPL,2020-01-06,72.335556,74.949997,74.989998,73.187500,73.447502,118387200
3,AAPL,2020-01-07,71.995354,74.597504,75.224998,74.370003,74.959999,108872000
4,AAPL,2020-01-08,73.153488,75.797501,76.110001,74.290001,74.290001,132079200
...,...,...,...,...,...,...,...,...
1252,AAPL,2024-12-23,254.120667,255.270004,255.649994,253.449997,254.770004,40858800
1253,AAPL,2024-12-24,257.037476,258.200012,258.209991,255.289993,255.490005,23234700
1254,AAPL,2024-12-26,257.853790,259.019989,260.100006,257.630005,258.190002,27237100
1255,AAPL,2024-12-27,254.439224,255.589996,258.700012,253.059998,257.829987,42355300
1256,AAPL,2024-12-30,251.064499,252.199997,253.500000,250.750000,252.229996,35557500